USE [master]
GO
/****** Object:  Database [PadelDB]    Script Date: 16/9/2026 18:11:52 ******/
CREATE DATABASE [PadelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PadelDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PadelDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PadelDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PadelDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PadelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PadelDB]
GO
/****** Object:  Table [dbo].[Canchas]    Script Date: 16/9/2026 18:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canchas](
	[IdCancha] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](60) NOT NULL,
	[PrecioPorHora] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Canchas] PRIMARY KEY CLUSTERED 
(
	[IdCancha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 16/9/2026 18:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdCancha] [int] NOT NULL,
	[Cliente] [nvarchar](60) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [nvarchar](5) NOT NULL,
	[Pagada] [bit] NOT NULL,
 CONSTRAINT [PK_Reservas] PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Canchas] ON 

INSERT [dbo].[Canchas] ([IdCancha], [Nombre], [PrecioPorHora]) VALUES (1, N'Cancha 1 - Cristal', CAST(28000.00 AS Decimal(10, 2)))
INSERT [dbo].[Canchas] ([IdCancha], [Nombre], [PrecioPorHora]) VALUES (2, N'Cancha 2 - Panorámica', CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[Canchas] ([IdCancha], [Nombre], [PrecioPorHora]) VALUES (3, N'Cancha 3 - Césped azul', CAST(22000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Canchas] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservas] ON 

INSERT [dbo].[Reservas] ([IdReserva], [IdCancha], [Cliente], [Fecha], [Hora], [Pagada]) VALUES (1, 1, N'Martín López', CAST(N'2026-09-16' AS Date), N'18:00', 1)
INSERT [dbo].[Reservas] ([IdReserva], [IdCancha], [Cliente], [Fecha], [Hora], [Pagada]) VALUES (2, 1, N'Carolina Gómez', CAST(N'2026-09-16' AS Date), N'19:00', 1)
INSERT [dbo].[Reservas] ([IdReserva], [IdCancha], [Cliente], [Fecha], [Hora], [Pagada]) VALUES (3, 2, N'Federico Ruiz', CAST(N'2026-09-16' AS Date), N'20:00', 1)
SET IDENTITY_INSERT [dbo].[Reservas] OFF
GO
/****** Object:  Index [IX_Canchas_Nombre]    Script Date: 16/9/2026 18:11:53 ******/
ALTER TABLE [dbo].[Canchas] ADD  CONSTRAINT [IX_Canchas_Nombre] UNIQUE NONCLUSTERED 
(
	[IdCancha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Fecha_Hora]    Script Date: 16/9/2026 18:11:53 ******/
ALTER TABLE [dbo].[Reservas] ADD  CONSTRAINT [IX_Fecha_Hora] UNIQUE NONCLUSTERED 
(
	[Fecha] ASC,
	[Hora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reservas] ADD  CONSTRAINT [DF_Reservas_Pagada]  DEFAULT ((0)) FOR [Pagada]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Canchas] FOREIGN KEY([IdCancha])
REFERENCES [dbo].[Canchas] ([IdCancha])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Canchas]
GO
ALTER TABLE [dbo].[Canchas]  WITH CHECK ADD  CONSTRAINT [Precio_mayor_a_0] CHECK  (([PrecioPorHora]>(0)))
GO
ALTER TABLE [dbo].[Canchas] CHECK CONSTRAINT [Precio_mayor_a_0]
GO
/****** Object:  StoredProcedure [dbo].[usp_CrearReserva]    Script Date: 16/9/2026 18:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_CrearReserva]
    @IdCancha INT,
    @Cliente NVARCHAR(60),
    @Fecha DATE,
    @Hora NVARCHAR(5)
AS
BEGIN
    SET NOCOUNT ON;

    IF LTRIM(RTRIM(@Cliente)) = '' OR @Cliente IS NULL
    BEGIN
        THROW 50004, 'El cliente no puede estar vacío.', 1;
    END

    IF NOT EXISTS (SELECT 1 FROM Canchas WHERE IdCancha = @IdCancha)
    BEGIN
        THROW 50001, 'La cancha no existe.', 1;
    END

    IF EXISTS (SELECT 1 FROM Reservas WHERE IdCancha = @IdCancha AND Fecha = @Fecha AND Hora = @Hora)
    BEGIN
        THROW 50011, 'El horario no está disponible.', 1;
    END

    INSERT INTO Reservas (IdCancha, Cliente, Fecha, Hora, Pagada)
    VALUES (@IdCancha, @Cliente, @Fecha, @Hora, 0);

    SELECT SCOPE_IDENTITY() AS IdReserva;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarCanchas]    Script Date: 16/9/2026 18:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_ListarCanchas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdCancha, 
        Nombre, 
        PrecioPorHora 
    FROM Canchas;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarReservas]    Script Date: 16/9/2026 18:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_ListarReservas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        R.IdReserva,
        C.Nombre AS NombreCancha,
        C.PrecioPorHora,
        R.Cliente,
        R.Fecha,
        R.Hora,
        R.Pagada
    FROM Reservas R
    INNER JOIN Canchas C ON R.IdCancha = C.IdCancha
    ORDER BY R.Fecha ASC, R.Hora ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_RecaudacionPorCancha]    Script Date: 16/9/2026 18:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_RecaudacionPorCancha]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        C.IdCancha,
        C.Nombre AS NombreCancha,
        COUNT(R.IdReserva) AS CantidadReservas,
        ISNULL(SUM(CASE WHEN R.Pagada = 1 THEN C.PrecioPorHora ELSE 0 END), 0) AS TotalCobrado,
        ISNULL(SUM(CASE WHEN R.Pagada = 0 THEN C.PrecioPorHora ELSE 0 END), 0) AS TotalPendiente
    FROM Canchas C
    LEFT JOIN Reservas R ON C.IdCancha = R.IdCancha
    GROUP BY C.IdCancha, C.Nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarPago]    Script Date: 16/9/2026 18:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_RegistrarPago]
    @IdReserva INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Reservas WHERE IdReserva = @IdReserva)
    BEGIN
        THROW 50002, 'La reserva no existe.', 1;
    END

    IF EXISTS (SELECT 1 FROM Reservas WHERE IdReserva = @IdReserva AND Pagada = 1)
    BEGIN
        THROW 50008, 'La reserva ya estaba pagada.', 1;
    END

    UPDATE Reservas 
    SET Pagada = 1 
    WHERE IdReserva = @IdReserva;
END;
GO
USE [master]
GO
